.hidden{
    display:none;
}

.individual_block_first{
    display:inline-block;
    padding-right: 2em;
}

.individual_block{
    display: inline-block;
    padding-right:2em;
}

.shirt_edit_block{
    display:block;
    padding-top:2em;
    padding-bottom:2em;
}