button{
    text-align:center;
    background-color:white;
    background-size:100px 100px;
    background-repeat:no-repeat;
    font-size:24px;
}

.individual_block_first{
    display:inline-block;
    padding-right: 2em;
}

.individual_block{
    display: inline-block;
    padding-right:2em;
}

.reportPad{
    padding-bottom: 2em;
}

.buttonPad{
    padding-top:2em;
}