#tshirt{
    display:inline-block;
    padding-left: 1em; 
}

#tshirt img{
    height:300px;
    width:300px;
}

#shirtRow{
    padding-top: 2em; 
    padding-bottom: 2em;
}

/*This Section addresses the T-Shirt Page*/
.textCentered{
    text-align:center;
}