/*Ths Section addresses Id's Properties*/
#navigation{
    padding-top: 3em;
}

#reunPhoto{
    display:inline-block;
}

#reunPhoto img{
    height: 200px;
    width:200px;
}

#news{
    display: inline-block;
    width:800px;
}

#regArea{
    display: inline-block;
    padding-top:1em;
    padding-bottom:1em;
}

.individual_block_first{
    display:inline-block;
    padding-right: 2em;
}

.individual_block{
    display: inline-block;
    padding-right:2em;
}

.addressD{
    padding-left:3em;
}