#shirtNav{
    padding-top:2em;
}

#childTShirt{
    display:inline-block;
    padding-right: 2em;
}

#childTShirt img{
    height:400px;
    width:400px;
}

#heartTShirtZoom{
    display:inline-block;
    height:400px;
    width:400px;
}

#heartTShirtZoom img{
    width:100%;
    height:auto;
}

#shirtSubmitBtn{
    width:200px;
    height:30px;
}

.firstShirtSize{
    display:inline-block;
    width:200px;
    
}

.shirtSize{
    display:inline-block;
    width:200px;
}

/*This Section addresses the T-Shirt Page*/
.textCentered{
    text-align:center;
}

.individual_block_first{
    display:inline-block;
    padding-right: 2em;
}

.shirtButton{
    display:inline-block;
    padding-right: 2em;
    padding-top: 2em;
}

.individual_block{
    display: inline-block;
    padding-right:2em;
}

.hidden{
    display:none;
}