.hidden{
    display:none;
}

#memberNav{
    padding-top: 2em;
}

.individual_block_first{
    /*width:20px;*/
    display:inline-block;
    padding-right: 2em;
}

.individual_block{
    display: inline-block;
    padding-right:2em;
}

.attendSpace{
    padding-top:1em;
    padding-bottom:1em;
}

.personSpace{
    padding-top:.25em;
}
.paymCont{
    padding-top:.75em;
    padding-bottom:.75em;
}